{:deps {org.clojure/clojure {:mvn/version "1.10.3"}
        ring/ring-core {:mvn/version "1.8.2"}
        ring/ring-jetty-adapter {:mvn/version "1.8.2"}
        com.bhauman/figwheel-main {:mvn/version "0.2.12"}
        metosin/reitit {:mvn/version "0.5.5"}
        sail/sail {:mvn/version "RELEASE"}
        cljs-http/cljs-http {:mvn/version "0.1.46"}
        reagent/reagent {:mvn/version "1.0.0"}}
 ;; setup some development paths
 :paths ["src/clj" "src/cljc" "src/cljs" "target" "resources"]
 ;; setup a helpful alias to start the build
 :aliases {:dev {:extra-deps {nrepl/nrepl {:mvn/version "0.8.2"}
                              cider/piggieback {:mvn/version "0.5.2"}
                              clj-kondo/clj-kondo {:mvn/version "2021.04.23"}}
                 :extra-paths ["dev"]}
           :test {:extra-deps {lambdaisland/kaocha {:mvn/version "1.0.829"}} 
                  :extra-paths ["test/clj" "test/cljs"]}
           :build-dev {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}
           :build {:main-opts ["-m" "figwheel.main" "-bo" "release"]}}}
